@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
  
body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
  #header {
    text-align: center;
    margin-top: 5rem;
    font-size: z;
    color:rgb(29, 94, 197);

  }
  
  .container {
    width: 300px;
    margin: auto auto;
  }
  
  label,
  input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    
  }
  
  label {
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  input {

    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border-color:rgb(29, 94, 197);
    
    font-size: large;
    margin: 1rem 0;
  }
  
  #check-button {
    margin: 0.5rem auto;
    display: block;
  }
  
  #check-button {

    border: 2px solid rgb(29, 94, 197);
    color: black;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: var(--black);
    margin: auto;
    display: block;
  }
  
  #output-container {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: x-large;   
  }
  
 
  